In [2]:
import pandas as pd
import matplotlib.pyplot as plt

my_file=pd.read_table("gapminder.txt")

Canada=my_file.loc[my_file['country']=="Canada",:]
Canada.plot.line(x="year",y="lifeExp", label="Life Expenctancy", figsize=(8,6))
plt.suptitle("Life Expectancy in Canada over the yers", fontsize=20)
plt.xlabel("Year",fontsize=16)
plt.savefig("PlotLifeExp.png")

In [3]:
my_file.iloc[:,[3,5]]

      lifeExp    gdpPercap
0      28.801   779.445314
1      30.332   820.853030
2      31.997   853.100710
3      34.020   836.197138
4      36.088   739.981106
5      38.438   786.113360
6      39.854   978.011439
7      40.822   852.395945
8      41.674   649.341395
9      41.763   635.341351
10     42.129   726.734055
11     43.828   974.580338
12     55.230  1601.056136
13     59.280  1942.284244
14     64.820  2312.888958
15     66.220  2760.196931
16     67.690  3313.422188
17     68.930  3533.003910
18     70.420  3630.880722
19     72.000  3738.932735
20     71.581  2497.437901
21     72.950  3193.054604
22     75.651  4604.211737
23     76.423  5937.029526
24     43.077  2449.008185
25     45.685  3013.976023
26     48.303  2550.816880
27     51.407  3246.991771
28     54.518  4182.663766
29     58.014  4910.416756
...       ...          ...
1674   49.113  1977.557010
1675   52.922  1971.741538
1676   55.599  1879.496673
1677   58.020  2117.484526
1678   60.308  2234.820827
1679   62.698  2280.769906
1680   42.038  1147.388831
1681   44.077  1311.956766
1682   46.023  1452.725766
1683   47.768  1777.077318
1684   50.107  1773.498265
1685   51.386  1588.688299
1686   51.821  1408.678565
1687   50.821  1213.315116
1688   46.100  1210.884633
1689   40.238  1071.353818
1690   39.193  1071.613938
1691   42.384  1271.211593
1692   48.451   406.884115
1693   50.469   518.764268
1694   52.358   527.272182
1695   53.995   569.795071
1696   55.635   799.362176
1697   57.674   685.587682
1698   60.363   788.855041
1699   62.351   706.157306
1700   60.377   693.420786
1701   46.809   792.449960
1702   39.989   672.038623
1703   43.487   469.709298

[1704 rows x 2 columns]

In [6]:
my_file.loc[:,['country']]

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
15        Albania
16        Albania
17        Albania
18        Albania
19        Albania
20        Albania
21        Albania
22        Albania
23        Albania
24        Algeria
25        Algeria
26        Algeria
27        Algeria
28        Algeria
29        Algeria
...           ...
1674    Yemen_Rep
1675    Yemen_Rep
1676    Yemen_Rep
1677    Yemen_Rep
1678    Yemen_Rep
1679    Yemen_Rep
1680       Zambia
1681       Zambia
1682       Zambia
1683       Zambia
1684       Zambia
1685       Zambia
1686       Zambia
1687       Zambia
1688       Zambia
1689       Zambia
1690       Zambia
1691       Zambia
1692     Zimbabwe
1693     Zimbabwe
1694     Zimbabwe
1695     Zimbabwe
1696     Zimbabwe
1697     Zimbabwe
1698     Zimbabwe
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [7]:
my_file.loc[my_file['country']=="Sweden"]

     country continent  year  lifeExp      pop     gdpPercap
1464  Sweden    Europe  1952   71.860  7124673   8527.844662
1465  Sweden    Europe  1957   72.490  7363802   9911.878226
1466  Sweden    Europe  1962   73.370  7561588  12329.441920
1467  Sweden    Europe  1967   74.160  7867931  15258.296970
1468  Sweden    Europe  1972   74.720  8122293  17832.024640
1469  Sweden    Europe  1977   75.440  8251648  18855.725210
1470  Sweden    Europe  1982   76.420  8325260  20667.381250
1471  Sweden    Europe  1987   77.190  8421403  23586.929270
1472  Sweden    Europe  1992   78.160  8718867  23880.016830
1473  Sweden    Europe  1997   79.390  8897619  25266.594990
1474  Sweden    Europe  2002   80.040  8954175  29341.630930
1475  Sweden    Europe  2007   80.884  9031088  33859.748350